@tailwind base;
@tailwind components;
@tailwind utilities;

/* * :not(svg, path){
  outline: solid greenyellow 2px;
} */

h1 {
  -webkit-text-stroke: 3px black;
  @apply mb-16 text-center drop-shadow-2xl font-extrabold text-7xl tracking-wider z-10
}

.clickable {
  @apply border-2 border-black border-solid bg-purple-100 p-2 rounded-md  transition-all drop-shadow-sm hover:drop-shadow-2xl 
}

body {
  font-family: "Poppins";
}

a {
  @apply flex flex-col items-center justify-center
}

.clickable > svg {
  @apply w-16 h-16 my-2 fill-current text-purple-800 stroke-[15] stroke-black antialiased
}

.clickable > span {
  @apply text-black font-semibold
}

input {
  @apply rounded-md p-2 bg-purple-300 mb-3 border-2 border-solid border-black w-full text-black font-semibold
}